body{
    font-family: "Inter", serif;
}

.navbar{
    height: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid #eee;
}

a{
    text-decoration: none;
}

.list{
    display: flex;
    color: grey;
}

.list1{
    color: #424242;
}

.list1:hover{
    color: #387ed1;
    cursor: pointer;
    transition-duration: 200ms;
}

.logo{
    position: relative;
    top: 15px;
    cursor: pointer;

}

.hero_section{
    margin-top: 64.8px;
}

.heroDiv{
    
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

.heading1{
    margin-bottom: 0px;
    font-size: 2.75rem;
    line-height: 1.25;
}

.para{
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 400;
}

.button{
    background-color: #387ed1;
    color: #fff;
    border: 1px solid transparent !important;
    border-radius: 3px;
    height: 44px;
    width: 173px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    
}

.trophy_section{
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

.trophy_div{
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

.trophy_content{
    display: flex;
    justify-content: space-between;
    
}

.trophy_left{
    height: 319px;
    width: 432px;
}

.trophy_right{
    height: 333px;
    width: 528px;
}

.image_section{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
}

.image_div{
    position: relative;
    margin-left: 61px;
    margin-right: 61px;
    width: 1100px;
    max-width: 100%;
    text-align: center;
}

.pricing_section{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
}

.pricing_container{
    margin-left: 61px;
    margin-right: 61px;
    position: relative;
    width: 1100px;
    max-width: 100%;
}

.pricing_div{
    display: flex;
    justify-content: space-around;
}

.pricing_div1{
    width: 433px;
    height: 185px;
}

.pricing_div2{
    width: 528px;
    height: 190px;
    display: flex;
}

.leftBox1{
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgba(0, 0, 0, 0.259);
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
}

.leftBox2{
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgba(0, 0, 0, 0.259);
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
}

.varsity_section{
    padding-left: 20PX;
    padding-right: 20PX;
    padding-bottom: 100px;
}

.varsity_maindiv{
    margin-left: 61px;
    margin-right: 61px;
    position: relative;
    width: 1100px;
    max-width: 100%;
}

.varsity_div{
    display: flex;
    justify-content: space-between;
}

.varsity_left{
    width: 432px;
    height: 326px;
}

.varsity_right{
    width: 528px;
    height: 290px;
}

a:hover{
    font-size: 110%;
    transition-duration: 300ms;
}

.last_section{
    padding-top: 40px;
    padding-bottom: 80px;
}

.last_div{
    margin-left: 181px;
    margin-right: 181px;
    text-align: center;
}

button:hover{
    background-color: black;
    cursor: pointer;
}

.footter{
    padding-top: 30px;
    padding-bottom: 5px;
    background-color: #fafafb;
    border-top: 1px solid #eee;
}

.foot_mainDiv{
    margin-left: 81px;
    margin-right: 81px;
    position: relative;
    width: 1100px;
    max-width: 100%;
}

.fDiv{
    justify-content: space-between;
    display: flex;
}

.div1{
    width: 242px;
    height: 302px;
}

.div2{
    width: 242px;
    height: 302px;
}

.div3{
    width: 242px;
    height: 302px;
}

.div4{
    width: 242px;
    height: 302px;
}

.footerUl{
    width: 242px;
    height: 32px;
    display: flex; 
    list-style: none; 
    justify-content: space-between;
    padding: 0;
}

.fImg:hover{
    transform: scale(1.2);
    transition-duration: 400ms;
}

.footerLI{
    font-size: 1.125rem;
    margin-bottom: 10px;
    line-height: 2;
    display: list-item;
    text-align: -webkit-match-parent;
}

.footerLi{
    line-height: 1.8;
    color: #424242;
    font-size: 16px;
    cursor: pointer;
}

.footerLi:hover{
    color: #387ed1;
    transition-duration: 300ms;
}